<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            a: <label class="form-control-label" for="a"></label><input class="form-control" type="text" value="0" name="a" id="a"><br>
            b: <label class="form-control-label" for="b"></label><input class="form-control" type="text" value="0" name="b" id="b"><br>
            result: <label class="form-control-label" for="result"></label><input class="form-control" type="text" name="result" id="result" disabled><br>
            <button class="btn btn-primary" type="submit" value="submit" onclick="send_data()">Submit</button>
        </div>
        <div class="row">
            <div class="col-md">
                Countries: <label class="form-control-label" for="country"></label>
                <select class="select2-country form-control" name="country" id="country">
                </select>
            </div>
            <div class="col-md">
                date: <label class="form-control-label" for="date"></label>
                <input class="form-control" type="text" name="date" id="date">
            </div>
            <div class="col-md">
                <label>call the api</label><br>
                <button class="btn btn-primary" onclick="covid_19()">call covid-19 API</button>
            </div>
        </div>
        <div class="row">
            <div class=>
                <table id="table" class="table table-responsive table-hover">
                    <thead id="table-header">
                        <tr id="table-header-row"></tr>
                    </thead>
                    <tbody id="table-body">
                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/covid-api.js')}}"></script>
</body>
</html>